@import './variable';

body{
    font-family: $font;
    position: relative;
}

.scroll-top{
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 99;
    transition: 0.2s all ease;

    a{
        background-color: $primary-color;
        border: 1px solid $primary-color;
        padding: 15px 17px;
        border-radius: 100px;

        i{
            color: $light;
            font-size: 20px;
        }
    }
}
.phone-wrapper{ 
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: none;
    cursor: pointer;
    z-index: 99;
    transition: 0.2s all ease;
    animation: shake-animation 2.72s ease infinite;
    transform-origin: 50% 50%;

    a{
        background-color: $light;
        border: 1px solid $primary-color;
        padding: 17px 16px 15px;
        border-radius: 100px;

        i{
            color: $secondary-color;
            font-size: 20px;
        }
    }
    @keyframes shake-animation {
        0% { transform:translate(0,0) }
       1.78571% { transform:translate(5px,0) }
       3.57143% { transform:translate(0,0) }
       5.35714% { transform:translate(5px,0) }
       7.14286% { transform:translate(0,0) }
       8.92857% { transform:translate(5px,0) }
       10.71429% { transform:translate(0,0) }
       100% { transform:translate(0,0) }
     }
}

// .package-fix{
//     position: fixed;
//     display: flex;
//     top: 80px;
//     left: 0;
//     background: radial-gradient(78.49% 93.75% at 74.34% 6.25%,#646464 0,#3c3c3c 100%);
//     color: $light;
//     border-radius: 0 0 8px 8px;
//     width: 100%;
//     padding: 15px;
//     z-index: 9;
//     justify-content: center;
//     h6{
//         margin-bottom: 0;
//         margin-right: 20px;
//         font-weight: $font-bold;
//         font-size: 18px;
//     }
//     s{
//         margin-right: 10px;
//         color: #d8d8d8;
//     }
//     .support{
//         margin-left: 100px;
//         a{
//             text-decoration: none;
//             padding: 10px 15px;
//             border-radius: 8px;
//             color: $secondary-color;
//             font-weight: $font-bold;
//             background-color: $light;
//             i{
//                 margin-right: 10px;
//             }
//             &:hover{
//                 background-color: $secondary-color;
//                 color: $light;
//                 border: 1px solid $primary-color;
//             }
//         }
//     }

//     @media screen and (max-width: 768px) {
//        display: none;
//     }
// }

header{
    .navbar{
        height: 80px;
        transition: .5s all ease-in;
        .navbar-nav{
            .nav-link{
                font-weight: $font-bold;
                color: $text-color;
                margin: 0 10px;
                border-radius: 12px;
                &.active, &:hover{
                    background-color: $dark-title;
                    color: $light;
                    border-radius: 12px;
                }
            }
        }
        &.fixed{
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            border-radius: 0;
            z-index: 999;
            animation: smoothScroll 1s forwards;
            background: $light;
        }
        @keyframes smoothScroll {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }

        .support{
            a{
                text-decoration: none;
                border: 1px solid $light-green;
                padding: 10px 15px;
                border-radius: 8px;
                color: $primary-color;
                i{
                    margin-right: 10px;
                }
                &:hover{
                    background-color: $primary-color;
                    color: $light;
                    border: 1px solid $primary-color;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .navbar-collapse{
            display: none;
        }

        .navbar-toggler {
            display: none;
        }

        .support{
            position: absolute;
            right: 5%;
        }
    }

    @media screen and (max-width: 350px) {
        .support{
            display: none;
        }
    }
}

.mob-banner{
    display: none;
    background-color: $primary-color;
    font-family: $font;
    margin: 30px 20px 0;
    padding: 20px;
    border-radius: 12px;
    color: $light;
    background: radial-gradient(78.49% 93.75% at 74.34% 6.25%,#646464 0,#3c3c3c 100%);
    .content-1{
        h6{
            font-size: 20px;
            font-weight: $font-bold;
        }
        &.line{
            border-bottom: 1px dashed $grey;
        }
        p{
            font-size: 14px;
            color: rgba(255, 255, 255, 0.8);
        }
    }
    .content-2{
        margin-top: 10px;
        align-items: center;
        s{
            font-size: 13px;
            color: rgba(255, 255, 255, 0.6);
        }
        p{
            margin-bottom: 0;
            font-size: 18px;
            color: $light;
            font-weight: $font-bold;
        }
        .disc{
            font-size: 13px;
            background: $dark-title;
            padding: 5px 12px;
            border-radius: 4px;
            font-weight: $font-bold;
        }
    }
    
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.banner{
    margin: 20px 0;
    position: relative;

    .container{
        background: $grey-bg;
        padding: 60px 20px 20px;
        border-radius: 24px;
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.102);
        position: relative;
        overflow: hidden;
    }
        .banner-image-wrapper{
            height: 345px;
            width: 350px;
            box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.102);
            border-radius: 24px;
            position: absolute;
            right: 30%;
            top: 13%;
            overflow: hidden;
            .banner-image{
                background: url('../images/banner.webp');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 450px;
                width: 330px;
                z-index: 0;
            }
        }
        .content-1{
            h6{
                font-size: 40px;
                color: $primary-color;
                font-weight: $font-black;
            }
        }
        .content-2{
            margin-top: 10px;
            align-items: center;
            s{
                font-size: 18px;
                color: rgba(0, 0, 0, 0.6);
                font-weight: $font-bold;
            }
            p{
                margin-bottom: 0;
                font-size: 24px;
                color: $dark;
                font-weight: $font-black;
            }
            .disc{
                font-size: 18px;
                background: $pink;
                color: $light;
                padding: 5px 12px;
                border-radius: 4px;
                font-weight: $font-bold;
            }
        }

        .home-visit{
            border-radius: 20px;
            max-width: 400px;
            margin-top: 40px;

            h6{
                font-size: 28px;
                font-weight: $font-bold;
                color: $primary-color;
            }
            span{
                font-size: 20px;
                font-weight: $font-regular;
                color: $dark;
            }

            .time-content{
                .time-content-txt{
                    display: flex;
                    position: relative;
                    margin-top: 10px;
                    .time-content-head{
                        font-size: 20px;
                        margin-bottom: 0;
                    }

                    .line{
                        width: 7.125rem;
                        height: 0.0625rem;
                        background: -o-linear-gradient(left, rgba(0, 101, 72, 0.5) 0%, rgba(0, 101, 72, 0.5) 35%, rgba(0, 101, 72, 0) 100%);
                        background: -webkit-gradient(linear, left top, right top, from(rgba(0, 101, 72, 0.5)), color-stop(35%, rgba(0, 101, 72, 0.5)), to(rgba(0, 101, 72, 0)));
                        background: linear-gradient(90deg, rgba(0, 101, 72, 0.5) 0%, rgba(0, 101, 72, 0.5) 35%, rgba(0, 101, 72, 0) 100%);
                        margin-top: 15px;
                        margin-left: 5px;
                    }
                }
                .time{
                    font-size: 25px;
                    color: $pink;
                    text-transform: capitalize;
                    span{
                        font-size: 35px;
                        color: $pink;
                        font-weight: $font-bold;
                    }
                }
            }
        }
        
        .form-wrapper{
            position: relative;
            border-right: solid;
            border-bottom: solid;
            border-top: solid;
            border-left: solid;
            border-width: 1px 8px 8px 1px;
            border-color: $primary-color;
            border-radius: 18px;
            .form{
                margin: 0 0 5px !important;
                @include form;
            }
        }

    @media screen and (max-width: 768px) {
        margin: 20px 0 20px;
        .container{
            height: 100%;
            background-color: $grey-bg;
            box-shadow: 0 4px 24px 0 rgba(0,0,0,.102);
            .banner-image-wrapper{
                height: 350px;
                width: 350px;
                top: 10%;
                right:0;
            }
            .banner-image{
                background-position: center;
                background-size: cover;
                height: 350px;
                width: 350px;
            }
            .home-visit{
                h6{
                    font-size: 22px;
                }
            }
            .content-1 h6 {
                font-size: 32px;
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        margin: 20px 0 20px;
        .container{
            padding-top: 20px;
            .content-1{
                display: none;
            }
            .content-2{
                display: none;
            }
            .banner-image-wrapper{
                position: relative;
                background-position: center;
                background-size: cover;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                .banner-image{
                    width: 100%;
                }
            }
            .time-content{
                position: relative;
                margin-bottom: 20px;

                .time-content-img{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
            .home-visit{
                margin-top: 0;
            }
        }
    }
}

.banner2{
    .content-wrapper{
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 20px;
        &:hover{
            .image-wrapper{
               img{
                    transform: rotate3d(2, 1, 2, 360deg);
                    transition: .5s all;
               }
            }
        }
        .image-wrapper{
            background-color: $light;
            border-radius: 100%;
            padding: 10px;
            margin-right: 20px;
            img{
                height: 40px;
                width: 40px;
            }
        }
        h6{
            font-weight: $font-bold;
            color: $primary-color;
            font-size: 18px;
        }
        p{
            margin-bottom: 0;
            color: $p-color;
            a{
                color: $primary-color;
            }
        }
    }
}

.mob-menu-wrapper{
    display: none;
    position: relative;
    margin: 40px 10px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    background-color: $grey-bg;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 12px 12px;
    transition: .5s all ease-in;
    &::-webkit-scrollbar {
        width: 0;
    }
    &.fixed-menu{
        position: sticky;
        top: 76px;
        width: 100%;
        height: 58px;
        left: 0;
        z-index: 99;
        animation: smoothScroll 1s forwards;
        background: $light;
        border-radius: 0 0 12px 12px;
        margin: 2px 0;
    }
    @keyframes smoothScroll {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mob-menu{
        .nav-link{
            width: 138px;
            font-weight: 400;
            color: #666666;
            margin: 0 10px;
            border-radius: 12px;
            text-align: center;
            font-size: 15px;
            display: inline-block;
            white-space: nowrap; 
            &.active, &:hover{
                background-color: $dark-title;
                color: $light;
                border-radius: 12px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.load-btn{
    position: relative;
    margin-top: 10px;
    text-align: center;

    &::before{
        content: '';
        background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255, 255, 255, 0.80) 100%);
        height: 80px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &.active::before {
        display: none; /* Hide when .active class is added */
    }
}

#content, #workcontent, #packagecontent, #whycontent, #carecontent{
    max-height: 150px;
    overflow: hidden;
}

#loadMore, #workMore, #packageMore, #whyMore, #careMore{
    position: relative;
    z-index: 1;
    background-color: $pink;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    color: $light;
    font-weight: $font-regular;

    i{
        margin-left: 10px;
        background-color: $light;
        border-radius: 100%;
        padding: 6px 7px;
        color: $primary-color;
    }
}   

#loadLess, #workLess, #packageLess, #whyLess, #careLess{
    display: none;
    position: relative;
    z-index: 1;
    background-color: $light-green;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    color: $light;
    font-weight: $font-regular;
    i{
        margin-left: 10px;
        background-color: $light;
        border-radius: 100%;
        padding: 3px 4px;
        color: $primary-color;
    }
}

.about, .care, .packages, .work, .why, .care{
    padding: 40px 0;
    font-family: $font;

    .title{
        h5{
            font-size: 20px;
            font-weight: $font-black;
        }
    }

    p{
        font-size: 17px;
        font-weight: $font-regular;
        color: $p-color;
    }

    .content{
        .accordion{
            transition: 0.3s all ease;
            padding-bottom: 10px;
            .accordion-item{
                border: 0;
                box-shadow: 0 4px 24px 0 rgba(0,0,0,.102);
                border-radius: 13px;
                margin: 20px;
                .accordion-header{
                    .accordion-button{
                        font-weight: $font-bold;
                        color: $dark;
                        text-decoration: none;
                        border: 0;
                        font-size: 18px;
                        background: none;
                        text-align: left;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .title{
            padding: 0 10px;
            h5{
                font-size: 18px;
            }
        }
        .content{
            padding: 0 10px;
            .accordion{
                .accordion-item{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            p{
                font-size: 14px;
            }
        }
    }
}
.about{
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        background: url(../images/leaf-bg.webp);
        background-position: 50%;
        background-size: 100%;
        position: absolute;
        background-repeat: no-repeat;
        right: 0;
        height: 300px;
        width: 300px;
        opacity: 0.05;
        filter: brightness(0.5);
        z-index: -1;
        rotate: -45deg;
        top: 0px;
    }

    @media screen and (max-width:767px){
        &::before{
            opacity: 0.08;
        }
    }
}
.work{
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        background: url(../images/leaf-bg.webp);
        background-position: 50%;
        background-size: 100%;
        position: absolute;
        background-repeat: no-repeat;
        left: 0;
        height: 600px;
        width: 300px;
        opacity: 0.05;
        filter: brightness(0.5);
        z-index: -1;
        rotate: 45deg;
        top: -40px;
    }

    @media screen and (max-width:767px){
        &::before{
            opacity: 0.08;
        }
    }
}
.widget{
    .container{   
        box-shadow: 0 4px 24px 0 rgba(0,0,0,.102);
        padding: 30px 40px;
        border-radius: 12px;
        background-color: $primary-color;
        border-bottom: 6px solid #49957e;
        
        .content{
            text-align: center;

            &:hover{
                .image-wrapper{
                   img{
                        transform: rotate3d(2, 1, 2, 360deg);
                        transition: .4s all;
                   }
                }
            }
            .image-wrapper{
                width: 100px;
                height: 100px;
                margin: auto;
                border: 1px solid $primary-color;
                border-radius: 100%;
                text-align: center;
                background-color: $light;
                img{
                   width: 60px;
                   height: 60px;
                   margin-top: 20px;
                }
            }
            h6{
                margin-top: 15px;
                font-size: 15px;
                font-weight: $font-bold;
                color: $light;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .content{
            margin: 10px 0;
        }
    }
}

.gut-health{
    margin: 40px 0;
    font-family: $font;
    .container{
        padding: 60px 20px;
        border-radius: 20px;
        background: #e4f5ff;        
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.102);

        .image-wrapper{
            background: url(../images/gut-health.webp);
            background-position: center;
            background-size: contain;
            height: 250px;
            background-repeat: no-repeat;
        }
        
        .title{
            margin: 20px 0 20px;
            h6{
                font-size: 18px;
                font-weight: $font-bold;
                span{
                    color: $secondary-color;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .container{
            padding: 30px 20px;
            .image-wrapper{
                height: 150px;
            }
            ul{
                li{
                    p{
                        font-size: 14px;
                        margin-bottom: 5px;
                        color: $text-color;
                    }
                }
            }
        }
    }
}

.faq{
    position: relative;
    background-color: #f5f5f5;
    padding: 60px 0;
    border-radius: 40px;

    &::before{
        content: "";
        background: url(../images/dots.png);
        background-position: right;
        height: 400px;
        position: absolute;
        z-index: 9;
        top: 20%;
        width: 200px;
        right: 0;
        filter: grayscale(1);
        background-repeat: no-repeat;
    }
    &::after{
        content: "";
        background: url(../images/dots.png);
        background-position: right;
        height: 400px;
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 200px;
        left: -5%;
        filter: grayscale(1);
        background-repeat: no-repeat;
    }

    .title{
        margin-bottom: 30px;
        h5{
            font-size: 32px;
            font-weight: $font-black;
        }
    }

    ul{
        li{
            list-style: none;
            margin-bottom: 40px;
            h6{
                font-weight: $font-bold;
                font-size: 20px;
            }
            p{
                font-size: 17px;
                color: $p-color;
            }
        }
    }

    @media screen and (max-width: 767px) {
        &::before{
            opacity: 0.5;
            right: 0;
            z-index: 0;
        }
        &::after{
            opacity: 0.3;
            z-index: 0;
            left: -10%;
        }
        .title{
            padding-left: 20px;
            padding-right: 20px;
            h5{
                font-size: 20px;
            }
        }
        ul{
            padding: 0 20px;
            li{
                h6{
                    font-size: 14px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}

.widget-second{
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    
    .container{
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.102);
        padding: 30px 40px;
        border-radius: 12px;
        background-color: #006546;
        border-bottom: 6px solid #49957e;
        overflow: hidden;

        .form{
            @include form;
        }
        &::before{
            content: '';
            background: url(../images/leaf-bg.webp);
            background-position: 50%;
            background-size: 100%;
            position: absolute;
            background-repeat: no-repeat;
            right: 12%;
            height: 500px;
            width: 300px;
            filter: opacity(0.2);
            rotate: -45deg;
        }
    
    }
    h6{
        font-size: 30px;
        position: relative;
        font-weight: $font-bold;
        color: $light;
    }

    @media screen and (max-width: 768px) {
        &::before{
            opacity: 0.25;
        }
        h6{
            font-size: 22px;
            line-height: 32px;
        }
    }
}

footer{
    padding: 30px 0 20px;
    background-color: #f5f5f5;
    font-family: $font;

    .form{
        @include form;
        box-shadow: 0 4px 24px 0 rgba(0,0,0,.102);
    }
    .image-wrapper{
        width: 200px;
    }
    .social-media{
        margin: 20px 0 20px;
        .social-list{
            li{
                list-style: none;
                margin-right: 30px;
                a{
                    i{
                        font-size: 30px;
                        color: $p-color;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    .footer-wrapper{
        .footer-list{
            padding: 0;

            .footer-link{
                list-style: none;
                margin: 10px 0;

                a{
                    text-decoration: none;
                    color: #333333;
                    font-size: 15px;
                    font-weight: $font-bold;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .copyright{
        border-top: 1px dashed $grey;
        .copyright-text{
            color: $secondary-color;
            font-family: $font;
            font-size: 15px;
            font-weight: $font-bold;
        }
    }

    @media screen and (max-width: 768px) {
       .copyright{
        .copyright-text{
            font-size: 14px;
        }
       }
    }

}